
<div class="boxes-full">

    <div class="boxes-padding fullpadding">
        
        <!-- Start None Split Section -->
        <div class="splitnone">
        
            <div id="portfolio-container">
                <div class="formwrapper">
                    <%= render 'form' %>            
                </div>
            </div>
        
        </div>
        <!-- End None Split Section -->

    </div>

    <span class="box-arrow"></span>

</div>
<!-- End Box -->