<% @genres.each do |g|%>
<div class="element graphic">

    <div class="portfoliowrap">
                        
        <div class="title"><%= g.title%><span class="titlearrow"></span></div>
        <h1><%= @s %></h1>
        <div class="portfolioimage">
            <a href="<%= genre_path(g) %>   " rel="prettyPhoto" title="Lorem ipsum dolor sit amet">
                <img src="<%= g.genrecover.url%>" alt="Lorem ipsum dolor sit amet" />
            </a>
        </div>
        
    
    </div>

</div>
<% end %>